@import "tailwindcss";
@import "tw-animate-css";

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-inter:var(--font-inter);
  --font-rethink_Sans:var(--font-rethink_Sans);
  --font-oswald:var(--font-oswald);
  --text-1: 1px;
    --text-2: 2px;
    --text-3: 3px;
    --text-4: 4px;
    --text-5: 5px;
    --text-6: 6px;
    --text-7: 7px;
    --text-8: 8px;
    --text-9: 9px;
    --text-10: 10px;
    --text-11: 11px;
    --text-12: 12px;
    --text-13: 13px;
    --text-14: 14px;
    --text-15: 15px;
    --text-16: 16px;
    --text-17: 17px;
    --text-18: 18px;
    --text-19: 19px;
    --text-20: 20px;
    --text-21: 21px;
    --text-22: 22px;
    --text-23: 23px;
    --text-24: 24px;
    --text-25: 25px;
    --text-26: 26px;
    --text-27: 27px;
    --text-28: 28px;
    --text-29: 29px;
    --text-30: 30px;
    --text-31: 31px;
    --text-32: 32px;
    --text-33: 33px;
    --text-34: 34px;
    --text-35: 35px;
    --text-36: 36px;
    --text-37: 37px;
    --text-38: 38px;
    --text-39: 39px;
    --text-40: 40px;
    --text-41: 41px;
    --text-42: 42px;
    --text-43: 43px;
    --text-44: 44px;
    --text-45: 45px;
    --text-46: 46px;
    --text-47: 47px;
    --text-48: 48px;
    --text-49: 49px;
    --text-50: 50px;
    --text-51: 51px;
    --text-52: 52px;
    --text-53: 53px;
    --text-54: 54px;
    --text-55: 55px;
    --text-56: 56px;
    --text-57: 57px;
    --text-58: 58px;
    --text-59: 59px;
    --text-60: 60px;
    --text-61: 61px;
    --text-62: 62px;
    --text-63: 63px;
    --text-64: 64px;
    --text-65: 65px;
    --text-66: 66px;
    --text-67: 67px;
    --text-68: 68px;
    --text-69: 69px;
    --text-70: 70px;
    --text-71: 71px;
    --text-72: 72px;
    --text-73: 73px;
    --text-74: 74px;
    --text-75: 75px;
    --text-76: 76px;
    --text-77: 77px;
    --text-78: 78px;
    --text-79: 79px;
    --text-80: 80px;
    --text-81: 81px;
    --text-82: 82px;
    --text-83: 83px;
    --text-84: 84px;
    --text-85: 85px;
    --text-86: 86px;
    --text-87: 87px;
    --text-88: 88px;
    --text-89: 89px;
    --text-90: 90px;
    --text-91: 91px;
    --text-92: 92px;
    --text-93: 93px;
    --text-94: 94px;
    --text-95: 95px;
    --text-96: 96px;
    --text-97: 97px;
    --text-98: 98px;
    --text-99: 99px;
    --text-100: 100px;

    --color-cs1:#0BA7E3;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*{
  font-family:var(--font-inter);
}
button{
  cursor: pointer;
}